tensorflow==2.15.0
numpy>=1.24.3
opencv-python>=4.8.1.78
Pillow>=10.0.1
mediapipe>=0.10.7
matplotlib>=3.7.2
streamlit>=1.28.0
scikit-learn>=1.3.0
flask>=2.3.3
werkzeug>=2.3.7
ultralytics>=8.0.196
gunicorn>=21.2.0
